name: Package and Release
on:
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  package:
    uses: peavers-warcraft/workflow-templates/.github/workflows/packaging.yml@main
    secrets: inherit
